.btns {
    width: 100%;
    text-align: center;
}
.btn {
    box-sizing: border-box;
    padding: 20px 25px;
    font-size: 24px;
    margin: 20px auto;
    width: 100%;
    max-width: 650px;
    height: 65px;
    background: linear-gradient(40deg,#ffd86f,#fc6262);
    color: #fff;
    border-radius: 10px;
    outline: 0!important;
    border-width: 1px;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}
 
button {
    appearance: button;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    font: 400 13.3333px Arial;
    border-style: outset; 
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.repeat {
    width: 65px;
    font-size: 0;
    background-image: url(https://english-for-kids.netlify.app/static/media/repeat.d0f11196.svg),linear-gradient(40deg,#ffd86f,#fc6262);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 32px 32px,cover;
    background-position: 50%;
} 